In [67]:
import pandas as pd
import numpy as np

In [68]:
df = pd.read_csv("patient.csv")

In [69]:
df

,patient_id,sex,race,ethnicity,year_of_birth,age_at_death,postal_code
0,c11adeff031d0701c258e12d950b9e090545875f,M,Unknown,Unknown,1967.0,NaN,NaN
1,22b795bccab41c629d40bb00f3decd919efdbc83,F,Unknown,Hispanic or Latino,1961.0,NaN,NaN
2,bb49be2fc3352f646952a33bc512f6648f1246c1,M,White,Not Hispanic or Latino,1986.0,NaN,NaN
3,6b56e6a6efe63bb11eead9d18365453534287ab3,M,White,Not Hispanic or Latino,1932.0,NaN,NaN
4,0db08e72db35217b4ec98ffbd79e4f1e3670c900,F,Unknown,Unknown,1980.0,NaN,NaN
...,...,...,...,...,...,...,...
1670652,10744048195b98435b98c81124cd3ac8bb6c0753,F,White,Not Hispanic or Latino,1954.0,NaN,NaN
1670653,08022978cc57d72de7cb054e725d2e94f4e0f570,M,White,Not Hispanic or Latino,1968.0,NaN,NaN
1670654,2796c08a1d40dbe7302d374df71d9a86bc289bcb,F,White,Not Hispanic or Latino,1994.0,NaN,NaN
1670655,de4064dfdf5ace6aacc4821e441f7cd41dcd50d6,F,White,Not Hispanic or Latino,2019.0,NaN,NaN
1670656,9a0c7c3c47b6b5738313e772cb940308edf22afa,M,White,Not Hispanic or Latino,2001.0,NaN,NaN

In [70]:
df.dropna() # removes rows with missing values

Empty DataFrame
Columns: [patient_id, sex, race, ethnicity, year_of_birth, age_at_death, postal_code]
Index: []

In [71]:
df.drop_duplicates()
df

,patient_id,sex,race,ethnicity,year_of_birth,age_at_death,postal_code
0,c11adeff031d0701c258e12d950b9e090545875f,M,Unknown,Unknown,1967.0,NaN,NaN
1,22b795bccab41c629d40bb00f3decd919efdbc83,F,Unknown,Hispanic or Latino,1961.0,NaN,NaN
2,bb49be2fc3352f646952a33bc512f6648f1246c1,M,White,Not Hispanic or Latino,1986.0,NaN,NaN
3,6b56e6a6efe63bb11eead9d18365453534287ab3,M,White,Not Hispanic or Latino,1932.0,NaN,NaN
4,0db08e72db35217b4ec98ffbd79e4f1e3670c900,F,Unknown,Unknown,1980.0,NaN,NaN
...,...,...,...,...,...,...,...
1670652,10744048195b98435b98c81124cd3ac8bb6c0753,F,White,Not Hispanic or Latino,1954.0,NaN,NaN
1670653,08022978cc57d72de7cb054e725d2e94f4e0f570,M,White,Not Hispanic or Latino,1968.0,NaN,NaN
1670654,2796c08a1d40dbe7302d374df71d9a86bc289bcb,F,White,Not Hispanic or Latino,1994.0,NaN,NaN
1670655,de4064dfdf5ace6aacc4821e441f7cd41dcd50d6,F,White,Not Hispanic or Latino,2019.0,NaN,NaN
1670656,9a0c7c3c47b6b5738313e772cb940308edf22afa,M,White,Not Hispanic or Latino,2001.0,NaN,NaN

In [72]:
df['sex'].nunique()

3

In [73]:
print(len(df[df.sex == 'Unknown']))
df1 = df.drop(df[df.sex == 'Unknown'].index)

16128

In [74]:
df1

,patient_id,sex,race,ethnicity,year_of_birth,age_at_death,postal_code
0,c11adeff031d0701c258e12d950b9e090545875f,M,Unknown,Unknown,1967.0,NaN,NaN
1,22b795bccab41c629d40bb00f3decd919efdbc83,F,Unknown,Hispanic or Latino,1961.0,NaN,NaN
2,bb49be2fc3352f646952a33bc512f6648f1246c1,M,White,Not Hispanic or Latino,1986.0,NaN,NaN
3,6b56e6a6efe63bb11eead9d18365453534287ab3,M,White,Not Hispanic or Latino,1932.0,NaN,NaN
4,0db08e72db35217b4ec98ffbd79e4f1e3670c900,F,Unknown,Unknown,1980.0,NaN,NaN
...,...,...,...,...,...,...,...
1670652,10744048195b98435b98c81124cd3ac8bb6c0753,F,White,Not Hispanic or Latino,1954.0,NaN,NaN
1670653,08022978cc57d72de7cb054e725d2e94f4e0f570,M,White,Not Hispanic or Latino,1968.0,NaN,NaN
1670654,2796c08a1d40dbe7302d374df71d9a86bc289bcb,F,White,Not Hispanic or Latino,1994.0,NaN,NaN
1670655,de4064dfdf5ace6aacc4821e441f7cd41dcd50d6,F,White,Not Hispanic or Latino,2019.0,NaN,NaN
1670656,9a0c7c3c47b6b5738313e772cb940308edf22afa,M,White,Not Hispanic or Latino,2001.0,NaN,NaN

In [75]:
abs(len(df1)-len(df))/len(df)*100

0.9653687142244038

In [76]:
abs(len(df1)-len(df))

16128

In [77]:
df1.ethnicity.value_counts()[1]/sum(df1.ethnicity.value_counts())*100

26.207760637619526

In [78]:
df1.race.value_counts()[2]/sum(df1.race.value_counts())*100

15.736381773906652

In [79]:
print(len(df1[df1.year_of_birth.isnull()]))

15196

In [80]:
df1 = df1.drop(df1[df1.year_of_birth.isnull()].index)
print(len(df1[df1.year_of_birth.isnull()]))

0

In [81]:
df1['Age'] = [int(2023 - x) for x in df1['year_of_birth']]

In [82]:
df1

,patient_id,sex,race,ethnicity,year_of_birth,age_at_death,postal_code,Age
0,c11adeff031d0701c258e12d950b9e090545875f,M,Unknown,Unknown,1967.0,NaN,NaN,56
1,22b795bccab41c629d40bb00f3decd919efdbc83,F,Unknown,Hispanic or Latino,1961.0,NaN,NaN,62
2,bb49be2fc3352f646952a33bc512f6648f1246c1,M,White,Not Hispanic or Latino,1986.0,NaN,NaN,37
3,6b56e6a6efe63bb11eead9d18365453534287ab3,M,White,Not Hispanic or Latino,1932.0,NaN,NaN,91
4,0db08e72db35217b4ec98ffbd79e4f1e3670c900,F,Unknown,Unknown,1980.0,NaN,NaN,43
...,...,...,...,...,...,...,...,...
1670652,10744048195b98435b98c81124cd3ac8bb6c0753,F,White,Not Hispanic or Latino,1954.0,NaN,NaN,69
1670653,08022978cc57d72de7cb054e725d2e94f4e0f570,M,White,Not Hispanic or Latino,1968.0,NaN,NaN,55
1670654,2796c08a1d40dbe7302d374df71d9a86bc289bcb,F,White,Not Hispanic or Latino,1994.0,NaN,NaN,29
1670655,de4064dfdf5ace6aacc4821e441f7cd41dcd50d6,F,White,Not Hispanic or Latino,2019.0,NaN,NaN,4
1670656,9a0c7c3c47b6b5738313e772cb940308edf22afa,M,White,Not Hispanic or Latino,2001.0,NaN,NaN,22

In [83]:
print(len(df1[~df1.age_at_death.isnull()])/len(df1))

0.012109193190157217

In [84]:
df1 = df1.drop(df1[~df1.age_at_death.isnull()].index)
print(len(df1[~df1.age_at_death.isnull()]))

0

In [85]:
print(df1.age_at_death.value_counts())
print(df1.postal_code.value_counts())

Series([], Name: age_at_death, dtype: int64)
Series([], Name: postal_code, dtype: int64)

In [86]:
df1 = df1.drop(columns=["age_at_death", "postal_code"])

In [87]:
df1

,patient_id,sex,race,ethnicity,year_of_birth,Age
0,c11adeff031d0701c258e12d950b9e090545875f,M,Unknown,Unknown,1967.0,56
1,22b795bccab41c629d40bb00f3decd919efdbc83,F,Unknown,Hispanic or Latino,1961.0,62
2,bb49be2fc3352f646952a33bc512f6648f1246c1,M,White,Not Hispanic or Latino,1986.0,37
3,6b56e6a6efe63bb11eead9d18365453534287ab3,M,White,Not Hispanic or Latino,1932.0,91
4,0db08e72db35217b4ec98ffbd79e4f1e3670c900,F,Unknown,Unknown,1980.0,43
...,...,...,...,...,...,...
1670652,10744048195b98435b98c81124cd3ac8bb6c0753,F,White,Not Hispanic or Latino,1954.0,69
1670653,08022978cc57d72de7cb054e725d2e94f4e0f570,M,White,Not Hispanic or Latino,1968.0,55
1670654,2796c08a1d40dbe7302d374df71d9a86bc289bcb,F,White,Not Hispanic or Latino,1994.0,29
1670655,de4064dfdf5ace6aacc4821e441f7cd41dcd50d6,F,White,Not Hispanic or Latino,2019.0,4
1670656,9a0c7c3c47b6b5738313e772cb940308edf22afa,M,White,Not Hispanic or Latino,2001.0,22

In [88]:
age_groups = {
    '<18': (0, 17),
    '18-24': (18, 24),
    '25-34': (25, 34),
    '35-44': (35, 44),
    '45-54': (45, 54),
    '55-64': (55, 64),
    '65+': (65, 120)
}

def map_age_to_group(age):
    for group, age_range in age_groups.items():
        if age_range[0] <= age <= age_range[1]:
            return group
    return 'Unknown'

df1['Age_Groups'] = df1['Age'].apply(map_age_to_group)

In [89]:
df1

,patient_id,sex,race,ethnicity,year_of_birth,Age,Age_Groups
0,c11adeff031d0701c258e12d950b9e090545875f,M,Unknown,Unknown,1967.0,56,55-64
1,22b795bccab41c629d40bb00f3decd919efdbc83,F,Unknown,Hispanic or Latino,1961.0,62,55-64
2,bb49be2fc3352f646952a33bc512f6648f1246c1,M,White,Not Hispanic or Latino,1986.0,37,35-44
3,6b56e6a6efe63bb11eead9d18365453534287ab3,M,White,Not Hispanic or Latino,1932.0,91,65+
4,0db08e72db35217b4ec98ffbd79e4f1e3670c900,F,Unknown,Unknown,1980.0,43,35-44
...,...,...,...,...,...,...,...
1670652,10744048195b98435b98c81124cd3ac8bb6c0753,F,White,Not Hispanic or Latino,1954.0,69,65+
1670653,08022978cc57d72de7cb054e725d2e94f4e0f570,M,White,Not Hispanic or Latino,1968.0,55,55-64
1670654,2796c08a1d40dbe7302d374df71d9a86bc289bcb,F,White,Not Hispanic or Latino,1994.0,29,25-34
1670655,de4064dfdf5ace6aacc4821e441f7cd41dcd50d6,F,White,Not Hispanic or Latino,2019.0,4,<18
1670656,9a0c7c3c47b6b5738313e772cb940308edf22afa,M,White,Not Hispanic or Latino,2001.0,22,18-24

In [90]:
df1.to_csv('patients.csv', index=False)

In [91]:
df1.columns

Index(['patient_id', 'sex', 'race', 'ethnicity', 'year_of_birth', 'Age',
       'Age_Groups'],
      dtype='object')

In [92]:
new_df = df1.sample(n=5000)

In [93]:
new_df.Age_Groups.value_counts()

65+      1318
35-44     783
55-64     760
25-34     755
45-54     658
<18       398
18-24     328
Name: Age_Groups, dtype: int64

In [94]:
new_df.to_csv('patients_sampled.csv', index=False)